### Libraries

In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
import seaborn as sns

### Dataset

In [17]:
df=sns.load_dataset('tips')
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [23]:
df=df.select_dtypes(include=('float','int'))
df.head(3)

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       21.01  3.50     3

In [25]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

In [124]:
x=df[['total_bill']]
y=df[['tip']]

### Split

In [140]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

### Linear Class

In [130]:
import numpy as np 

class LinearRegression:
    def __init__(self):
        self.coefficient=None
        self.intercept=None

    def fit(self,x_train,y_train):

        x_mean=x_train.mean()
        y_mean=y_train.mean()
        self.coefficient = np.sum(((x_train-x_mean).values)*((y_train-y_mean).values))/np.sum(((x_train-x_mean).values)**2)
        self.intercept = y_mean.values-(self.coefficient*x_mean.values)

    def predict(self,x_test):

        list=[]
        for i in x_test.values:
            list.append((self.coefficient*(i))+self.intercept)
            

        return np.asarray(list)

### Using our own fit and Predict method

In [142]:
lr=LinearRegression()
lr.fit(x_train,y_train)

In [144]:
lr.predict(x_test)

array([[4.43062038],
       [3.5281998 ],
       [1.86938137],
       [2.62869966],
       [3.37146871],
       [4.37902568],
       [2.00761624],
       [2.99473002],
       [3.47368464],
       [5.74482513],
       [2.03974124],
       [2.75233226],
       [3.0998664 ],
       [2.70171104],
       [1.96965032],
       [3.34518462],
       [2.38435493],
       [2.59560117],
       [2.16824126],
       [2.96844592],
       [2.62383224],
       [2.53719207],
       [3.38217705],
       [2.96941941],
       [2.72020725],
       [2.64135497],
       [2.78445726],
       [2.83410499],
       [2.25293445],
       [2.33276022],
       [2.73967695],
       [3.19332096],
       [2.250014  ],
       [3.38412402],
       [3.5603248 ],
       [4.87745   ],
       [3.97405592],
       [2.3210784 ],
       [2.4836504 ],
       [3.54280207],
       [4.41115068],
       [3.78033241],
       [2.81755575],
       [2.80684741],
       [2.42816175],
       [2.77374893],
       [5.4547266 ],
       [2.282139  ],
       [2.34638901]])